/1cviceni/Debug
/2cviceni/Debug
/3cviceni/Debug
/4cviceni/Debug
/5cviceni/Debug
/6cviceni/Debug
/7cviceni/Debug
/8cviceni/Debug
/9cviceni/Debug
/10cviceni/Debug
/11cviceni/Debug
/12cviceni/Debug
/zkouska/Debug
/.metadata

